
body {

    background-image: linear-gradient(to bottom right, red , blue);

}

b {

 color: yellowgreen;

}

p {

color:yellowgreen;

}

label {

color: yellowgreen;

}

span {

color: yellowgreen;

}